.container
  position: fixed
  left: 0
  top: 30%
  min-width: 10rem
  max-width: 18rem
  min-height: 800px
  font-size: 0.7rem
  padding: 8px
  .navbar
    background-color: var(--color-bg-1)
    color: var(--color-text-1)
    border-radius: 12px
    padding: 18px
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px

  .section
    margin: 10px auto
  .h1
    font-weight: bold
    font-size: 1.4em
  .h2
    text-indent: calc( 8px * 2 )
    font-size: 1.3em

  .h3
    text-indent: calc( 8px * 3 )
    font-size: 1.2em

  .h4
    text-indent: calc( 8px * 4 )
    font-size:  1.1em

  .h5
    text-indent: calc( 8px * 5 )
    font-size:  1em
