@import include-media

.atricle  
  padding-bottom: 10rem
  position: relative
  background: var(--color-bg-1)
  p
    line-height: 2rem
  blockquote
    margin: 0
    @include media(">=tablet")
      margin-right: 2rem
  blockquote p
    background: var(--color-text-1)
    color: var(--color-bg-1)
    padding: 1rem
    margin-right: 1.5rem
    border-left: 4px solid tomato
    border-radius: 8px
    // max-width: 500px
    // text-align: center
    // text-indent: 2em
  p em,code,strong
    font-weight: bolder
    margin: 0 4px
  p code
    border-bottom: 2px solid #7BE188
  p strong
    color: tomato
  .content
    width: min(100vw, 860px)
    margin: 0 auto
    @include media(">=tablet", "<=1200px")
      padding: 0 2rem
    @include media(">=desktop")
      margin
        left: 150px
        right: 150px
