.atricle blockquote p
  background: var(--color-text-1)
  color: var(--color-bg-1)
  padding: 1rem
  margin: 1.5rem 0
  border-right: 4px solid tomato
  border-radius: 8px
  max-width: 500px
  text-align: right