@import include-media

.container  
  font-size: 0.7rem
  position: relative
  .navbar    
    position: fixed
    top: 50%
    background-color: var(--color-bg-1)
    color: var(--color-text-1)
    border-radius: 12px
    padding: 1rem 3rem
    transform: translate(-50%, -50%)
    box-shadow: #9a9abfa8 0px 1px 4px
    width: min(80vw, 400px)
    @include media("<=1200px")
      left: 50%
    .close
      cursor: pointer
      opacity: 0.8
      color: #e212e9a8
      position: absolute
      left: 1rem
      top: 1rem
      transform: all 0.4s ease-in-out
      &:hover
        opacity: 1
        transition: scale(1.2)
    .title
      @include media("<=460px")
        width: 70vw


  .section
    margin: 10px auto
  .h1
    font-weight: bold
    font-size: 1.4em
  .h2
    text-indent: calc( 8px * 2 )
    font-size: 1.3em

  .h3
    text-indent: calc( 8px * 3 )
    font-size: 1.2em

  .h4
    text-indent: calc( 8px * 4 )
    font-size:  1.1em

  .h5
    text-indent: calc( 8px * 5 )
    font-size:  1em
