.container
  display: flex
  flex-direction: column
  align-items: stretch
  padding: 1rem
  border-radius: 12px
  background-color: #2c2b57
  overflow-y: hidden

  .header
    display: flex
    justify-content: space-between
    align-items: center
    color: #fff
    &>span
      cursor: pointer
    .copy
      margin-left: auto
      padding: 4px 10px
  .code_area
    display: flex
    .code
      margin: 0!important
      flex-grow: 1
      pre
    .line_num
      user-select: none
      background-color: #2c2b57
      color: #ffffff4d
      padding: 0 2px
      ul
        padding-left: 0
         padding: 1rem 0
      ul li
        list-style: none
        text-align: right
        padding-right: 6px
        z-index: 2
        box-shadow: 2px 0 purple
