@import include-media

.container
  display: flex
  background-color: var(--color-bg-1)
  box-shadow: rgba(0, 0, 0, 0.1) 1px 4px 12px
  flex-direction: column
  width: min(100vw, 560px)
  position: fixed
  top: 0
  bottom: 0
  // right: min(100vw, 560px)
  z-index: 888
  @include media("<=480px")
    padding-right: 0
    height: 91vh
    top: 9vh
    bottom: 0
    transform: translate(0, 0)
  
  .header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0.8rem 1rem
    border-bottom: 1px solid #eeeeee6f

  .main
    width: 100%
    flex-grow: 1
    border-radius: 8px
    padding: 1rem
    display: flex
    flex-direction: column
    // justify-content: center
    align-items: stretch
    overflow-y: auto
    overflow-x: hidden
    img
      max-width: 100%
  .footer
    display: flex
    padding: 4px
    justify-content: center
    border-top: 1px solid #eeeeee6f
